/* global css start */
:root {
    --primary-color: #7e34b6;
    --secondary-color: #fdf4f3;
    --heading-color: #3c424f;
}

/* @media only screen and (max-width: 768px){ */
/* @media only screen and (min-width: 768.1px) and (max-width: 992px){ */
/* global css end */