/* global css start */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
    --color-primary: #7e34b6;
    --color-secondary: #fdf4f3;
    --color-heading: #3c424f;
    --color-border-gray: #ddd;
    --font-lora: 'Lora', serif;
    --font-roboto: "Roboto", sans-serif;
}
.form-control:focus {
    box-shadow: unset;
}
a {
    color: #1e1e1e;
    text-decoration: none;
  }
  a:hover {
    color: var(--color-primary);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
.color-primary {
    color: var(--color-primary);
}
.color-secondary {
    color: var(--color-secondary);
}
.background-primary{
    background-color: var(--color-primary);
}
.background-secondary{
    background-color: var(--color-secondary);
}
/* max width 90% only in pc */
@media only screen and (min-width: 768px) {
	.container-pc-90{
		max-width: 90%;
	}
}
/* @media only screen and (max-width: 768px){ */
/* @media only screen and (min-width: 768.1px) and (max-width: 992px){ */
/* @media only screen and (min-width: 350px) and (max-width: 400px) { */

/* global css end */